#wp-admin-bar-aps_counter.aps-counter-green .ab-item,
#wp-admin-bar-aps_counter.aps-counter-green:hover .ab-item{
	color: #7AD03A !important;
}
#wp-admin-bar-aps_counter.aps-counter-yellow .ab-item,
#wp-admin-bar-aps_counter.aps-counter-yellow:hover .ab-item{
	color: #FFBA00 !important;
}
#wp-admin-bar-aps_counter.aps-counter-red .ab-item,
#wp-admin-bar-aps_counter.aps-counter-red:hover .ab-item{
	color: #DD3D36 !important;
	font-weight: bold;
}